In [7]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
data={
    "customer_id":[1,2,3,4],
    "gender":["male","female","male","female"],
    "city":["hyderabad","pune","banglore","mumbai",],
    "fruits":["apple","oragne","kiwi","banana"]
}
df=pd.DataFrame(data)
print("Original DataFrame:")
print(df)
one_hot_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
columns_to_encode=["gender","city","fruits"]
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])
encoded_columns = one_hot_encoder.get_feature_names_out(columns_to_encode)

Original DataFrame:
   customer_id  gender       city  fruits
0            1    male  hyderabad   apple
1            2  female       pune  oragne
2            3    male   banglore    kiwi
3            4  female     mumbai  banana